*{
    font-size: 14px;
    box-sizing:  border-box;
    margin:5px;
    border-radius: 5px;
}
html{
    margin: 0;
    background-color: black;
    height: 100%;
}
header,footer{

    background-color: black;
    color: red;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

footer{
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(0, 0, 0) , rgba(0, 0, 0, 0));
    align-items: end;
}
@font-face {
    font-family: "plasdrip";
    src: url("../asserts/fuente/plasdrip.ttf");
}
section{
    background-color: white;
}
body{
    margin:0;
    border: 0;
    background-image: url("../asserts/jpg/fondo.jpg");
    background-size:cover ;
    background-repeat: no-repeat; /*para que no repita la imagen*/
    background-position: center; /*para centrar*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    min-height: 100%;
}
article{
    border: 10px solid white;
    padding: 10px;
    background-color: red;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div>p{
    font-weight: bold;
}
div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
label{
    width: 100%; 
    font-weight: bold; 
    display: flex;
    flex-direction: column;
}
p,h1,h2,th, label,header,footer,legend{
    text-transform: uppercase;
}
#a{
    color: red;
}
#h1{
    font-family: "plasdrip", Helvetica, sans-serif;
    color: white;
    font-size: 25px;
}
h2{
    font-size: 16px;
}
article>p{
    text-transform:capitalize;
    text-align: justify;
}
button{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: black;
}
#tarjetas{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}
#stats{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
#perfilTarjetas
{
    border: 5px solid white;
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
}
#btnGuardar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: rgb(0, 190, 0);
    font-weight: bold;
}
.oculto{
    display: none;
}
#divHeader{
    width: 100%;
    min-height: 50px;
    margin: 0;
    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0));  
    justify-content: center;
}
#loader{
    width: 10%;
    height: 10%;
    min-width: 150px;
    min-height: 100px;
}
#btnCancelar
{
    color: yellow;
}
#btnEliminar
{
    color: red;
}
#radioDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    width: 8%;
    height: 8%;
    min-height: 100px;
    min-width: 100px;
}
#botones
{
    width: 100%;
}
img{
    width: 30px;
    height: 30px;
}
main{
    width:100% ;
    min-height: 85vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

form,table{
    width: 35vw; 
}
form{   
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    padding: 10px;  
    min-width:380px; 
}

table
{
    border-collapse: collapse;
    background-color: white;
    margin: 5px;
    min-width:450px;
}
th,td,tr
{
    border: 2px solid  white;
    border-radius: 0px;
    padding: 8px;    
}
  
th {
    background-color: red; /* Color de fondo del encabezado */
    border: 1px solid #dddddd;
    text-align: center; /* Alineación del texto en el encabezado */
    font-size: 16px;
    font-weight: bold ; 
}
  
  /* Estilos para las celdas de la tabla */
td {
    border: 1px solid #dddddd;
    text-transform:capitalize;
  }
  thead>tr:hover
{
    background-color: red;
    color: black;
}
tr:hover
{
    background-color: black;
    color: red;
}
  
  /* Estilo alternativo para filas */
tbody tr:nth-child(even) {
    background-color:  rgb(236, 236, 236);; /* Color de fondo alternativo para filas pares */
  }
  tr:nth-child(even):hover
  {
      background-color: black;
      color: red;
  }

input{
    font-size: 12px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    margin: 0px;
    border: 0px;
}
  
ul {
    list-style: none; /* Elimina el punto de los ítems */
    padding: 0;
    display: flex;
    flex-direction: row;
  }
a:hover{
    color: white;
}
a{
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-family: "plasdrip", Helvetica, sans-serif;
}

fieldset
{
    border: 2px solid #dddddd; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
legend
{
    font-size: 14px;
    font-weight: bold;
}
h2{
    font-size: 16px;
    font-weight: bold;
}
  


@media screen and (max-width:700px) {
    ul{
        flex-direction: column;
    }
    form
    {
        min-width: 250px;
        width: 25vw;
    }
    #radioDiv
    {
        flex-direction: column;
        align-items:flex-start;
    }
    #botones
    {
        flex-direction: column;
        align-items:center;
    }
    #loader{
        width: 30%;
        height: 30%;

    }
    footer{
        height: 200px;
    }
    #logo{
        display: none;
    }
}




article[data-color="blue"] {
    background-color: rgb(91, 125, 147);
  }
  
  article[data-color="red"] {
    background-color: rgb(145, 0, 0);
  }
  
article[data-color="green"] {
    background-color: rgb(41, 130, 41);
  }
  
  article[data-color="white"] {
    background-color: rgb(224, 210, 11);
  }
  
article[data-color="gray"] {
    background-color: gray;
  }
  
  article[data-color="violet"] {
    background-color: rgb(139, 0, 139);
  }


input[type="range"] {
    -webkit-appearance: none; /* Desactiva el estilo predeterminado de Chrome */
    appearance: none; /* Desactiva el estilo predeterminado de otros navegadores */
    width: 100%; /* Ajusta el ancho según sea necesario */
  }
  

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="range"]::-webkit-slider-runnable-track {
      background-color: red; /* Cambia el color de fondo de la barra de progreso en Chrome */
      border-radius: 5px; /* Añade bordes redondeados a la barra de progreso */
    }
  
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /* Desactiva el estilo predeterminado del pulgar en Chrome */
      appearance: none; /* Desactiva el estilo predeterminado del pulgar en otros navegadores */
      background-color: black; /* Cambia el color del pulgar en Chrome */
      width: 10px; /* Ajusta el ancho del pulgar según sea necesario */
      height: 10px; /* Ajusta la altura del pulgar según sea necesario */
      border-radius: 50%; /* Hace que el pulgar tenga bordes redondeados */
    }
  }

input[type="radio"] {
    -webkit-appearance: none; /* Desactiva el estilo predeterminado de Chrome */
    appearance: none; /* Desactiva el estilo predeterminado de otros navegadores */
    width: 10%; /* Ajusta el ancho según sea necesario */
    height: 10%; /* Ajusta la altura según sea necesario */
    border-radius: 50%; /* Hace que el radio button tenga bordes redondeados */
    outline: none; /* Elimina el contorno predeterminado */
  }
  
  /* Estilos específicos para Chrome */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="radio"]:checked {
      background-color: red; /* Cambia el color de fondo cuando el radio button está seleccionado en Chrome */
    }
  }